token.txt

paid_token.txt

data/

data_prathus_runs/

data_shim/

tests.ipynb

kagome-tfim/data

kagome-tfim/older_versions

kagome-tfim/processing/lattice_files_v1

kagome-tfim/processing/lattice_files_v2

kagome-tfim/qmc_plots/data


kagome-tfim/qmc_plots/data_for_paper

